*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.right{
    margin-right: 150px;
}
.margin{
    margin-bottom: 200px;
    margin-right: 480px;
}
.left{
    margin-left: 170px;
}
.nav-item a:hover{
    color: orange;
}
.left-2{
    margin-left: 520px;
}
.top{
    margin-top: 200px;
}
.width{
    width: 500px;
    height: 50px;
}
